<div class="container-fluide ">
	
		
			
			
           <div class="footer" id="footer">
         <!-- <div class="container"> -->
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <h3>Page pricipale de ESD </h3>
                    <ul>
                        <li> <a href="#">Qui nous somme </a> </li>
                        <li> <a href="#"> Nos domaine d'action</a> </li>
                        <li> <a href="#"> Ou nous somme </a> </li>
                       <ul>
                      
                </div>
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <h3>  Nos projets en cour</h3>
                    <ul>
                        <li> <a href="#">Projet en Morarano, MADAGASCAR</a> </li>
                        <li> <a href="#"> Projet à Haitii</a> </li>
                        <li> <a href="#"> Projet Accès à l’eau potable au centre de santé de Yerifoulla  </a> </li>
                        <!-- <li> <a href="#"> Lorem Ipsum </a> </li> -->
                    </ul>
                </div>
                
               
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
                    <h3> Nous suivre sur </h3>
                    
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                       
                        <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
				
				
				<div class="col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
				  
				          <button type="button" class="btn btn-primary btn-lg" >Devenir donnateur</button>
                         <ul>
                            <li> <a href="#">Mention légale | <li> <a href="#"> Toutes les photos appartiennent à ESD</a> </li> </a> </li>
                        
                       <ul>
				</div>
       
       </div>
    </div>
   </div>  
          
            <!-- <div class="container-fluide"> -->
                <!-- <p> Copyright © Footer 2014. All right reserved. </p> -->
           
                   
             <!-- </div> -->
         
				
		
	
