<div class="container-fluide primary ">
   <div class ="bg-primary">
	
		
			
			
           <div class="footer" id="footer">
         <!-- <div class="container"> -->
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <h3>Page principale de ESD </h3>
                    <ul>
                        <li> <a href="#qui">Qui nous somme </a> </li>
                        <li> <a href="#actions"> Nos domaines d'actions</a> </li>
                        <li> <a href="#trouver"> Où nous somme </a> </li>
                       <ul>
                      
                </div>
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3">
                    <h3>  Nos projets en cour</h3>
                    <ul>
                        <li> <a href="/projets/">Projet en Morarano, MADAGASCAR</a> </li>
                        <li> <a href="/projets/"> Projet à Haiti</a> </li>
                        <li> <a href="/projets/"> Projet Accès à l’eau potable au centre de santé de Yerifoulla  </a> </li>
                        <!-- <li> <a href="#"> Lorem Ipsum </a> </li> -->
                    </ul>
                </div>
                
               
                <div class="col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
                    <h3> Nous suivre sur </h3>
                    
                    <ul class="social">
                        <li> <a href="/travaux/"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="/travaux/"> <i class="fa fa-twitter">   </i> </a> </li>
                       
                        <li> <a href="/travaux/"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
				
				
				<div class="col-lg-3  col-md-3 col-sm-3 col-xs-3 ">
				  
				          <!-- <a href="https://www.donnerenligne.fr/eau-service-developpement/faire-un-don"type="button" class="btn btn-secondary btn-lg"> Devenir Donnateur </a> -->
                         <!-- <hr style="color:white"/> -->
                            <p> <a href="/mention/">Mention légale | </a> <p style="color:white"> Toutes les photos appartiennent à ESD</p></p> 
                        
                       
					   
				</div>
       
       </div>
    </div>
   </div>  
  </div>       
            <!-- <div class="container-fluide"> -->
                <!-- <p> Copyright © Footer 2014. All right reserved. </p> -->
           
                   
             <!-- </div> -->
         
				
		
	
